#up{
    text-align: center;
    border: 10px solid coral;
    margin-bottom: 100px;
    margin-left: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: blue;
    border: rgb(142, 165, 42);
    box-shadow: aqua;
    text-decoration-color: darkred;
}

#down{
    text-align: center;
    border: 10px solid rgb(80, 255, 83);
    margin-bottom: 100px;
    margin-left: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
}